name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/previous-releases

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run test
      - run: npm run check
      - run: npm run lint

  integration:
    needs: test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        suite: [commonjs, esm, typescript, cloudflare-worker]
        # See supported Node.js release schedule at https://nodejs.org/en/about/previous-releases

    env:
      REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      # Build a production tarball and run the integration tests against it.
      - run: |
          test "${{ matrix.suite }}" = "cloudflare-worker" && echo "REPLICATE_API_TOKEN=${{ secrets.REPLICATE_API_TOKEN }}" > integration/${{ matrix.suite }}/.dev.vars
          PKG_TARBALL=$(npm --loglevel error pack)
          npm --prefix integration/${{ matrix.suite }} install
          npm --prefix integration/${{ matrix.suite }} install "file:/./$PKG_TARBALL"
          npm --prefix integration/${{ matrix.suite }} test
