name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/previous-releases
        node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run test
      - run: npm run check
      - run: npm run lint


  integration-node:
    needs: test
    runs-on: ubuntu-latest

    env:
      REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/previous-releases
        node-version: [18.x, 20.x]
        suite: [commonjs, esm, typescript]
        exclude:
          - suite: cloudflare-worker
            node-version: 18.x # Only test Cloudflare suite with the latest Node version
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      # Build a production tarball and run the integration tests against it.
      - run: |
          PKG_TARBALL=$(npm --loglevel error pack)
          npm --prefix integration/${{ matrix.suite }} install
          npm --prefix integration/${{ matrix.suite }} install "file:/./$PKG_TARBALL"
          npm --prefix integration/${{ matrix.suite }} test


  integration-edge:
    needs: test
    runs-on: ubuntu-latest

    env:
      REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}

    strategy:
      matrix:
        node-version: [20.x]
        suite: [cloudflare-worker]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      # Build a production tarball and run the integration tests against it.
      - run: |
          test "${{ matrix.suite }}" = "cloudflare-worker" && echo "REPLICATE_API_TOKEN=${{ secrets.REPLICATE_API_TOKEN }}" > integration/${{ matrix.suite }}/.dev.vars
          PKG_TARBALL=$(npm --loglevel error pack)
          npm --prefix integration/${{ matrix.suite }} install
          npm --prefix integration/${{ matrix.suite }} install "file:/./$PKG_TARBALL"
          npm --prefix integration/${{ matrix.suite }} test


  integration-bun:
    needs: test
    runs-on: ubuntu-latest

    env:
      REPLICATE_API_TOKEN: ${{ secrets.REPLICATE_API_TOKEN }}

    strategy:
      matrix:
        bun-version: [1.0.11]
        suite: [bun]

    steps:
      - uses: actions/checkout@v3
      - name: Use Bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: ${{ matrix.bun-version }}
      - run: |
          cd integration/${{ matrix.suite }}
          bun install
          bun test
